.season-winner {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-top: -1px;
    background-color: #f9f9f9;
    border: 1px solid #dddddd;
    color: #555555;
    cursor: pointer;
    &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
    &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    &:hover {
        background-color: #f0f0f0;
    }
    &.active {
        background-color: #337ab7;
        border-color: #337ab7;
        color: #ffffff;
        .season-year {
            color: #f1f1f1;
        }
    }
    .season-year {
        color: #7f7f7f;
        margin: 10px;
    }
}

.races-list {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #cccccc;
    border-bottom: 5px solid #555555;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
