.race-winner {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #dddddd;
    color: #555555;
    cursor: default;
    &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
    }
    &.highlighted {
        background-color: #f1fbfe;
        color: #00b8ff;
    }
}